################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.android
/.cache
/.config
/.cursor
/.dotnet
/.eclipse
/.gitconfig
/.idlerc
/.lesshst
/.node_repl_history
/.nuget
/.p2
/.templateengine
/.vscode
/AppData
/Contacts
/Desktop
/Documents
/Downloads
/eclipse
/eclipse-workspace
/Favorites
/firstReactApp
/Links
/Music
/node_modules
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{eae1abf5-d99f-11ef-af33-956c62fd21ef}.TM.blf
/NTUSER.DAT{eae1abf5-d99f-11ef-af33-956c62fd21ef}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{eae1abf5-d99f-11ef-af33-956c62fd21ef}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/package-lock.json
/package.json
/password-manager
/Pictures
/React-Practice
/Saved Games
/Searches
/source
/Videos
